@model UserSignup.ViewModels.AddUserViewModel

    <form method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input class="form-control" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="VerifyPassword"></label>
            <input class="form-control" asp-for="VerifyPassword" />
            <span asp-validation-for="VerifyPassword"></span>
        </div>
        
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>