@if (ViewBag.user != null)
{
    <h1>Hi @ViewBag.user.Username!</h1>

    <h3>List of users by username</h3>
    <ul>
        @foreach (var user in ViewBag.users)
        {
            <li>
                <a asp-controller="User" asp-action="UserInfo" asp-route-id="@user.Id">@user.Username</a>
            </li>
        }
    </ul>
}
else
{
    <h1>Hi!</h1>
}


