@model List<UserSignup.Models.User>

@if (Model.Count != 0)
{
    <h1>Hi @Model[Model.Count - 1].Username</h1>

    <h3>List of users by username</h3>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <a asp-controller="User" asp-action="UserInfo" asp-route-id="@user.Id">@user.Username</a>
            </li>
        }
    </ul>
}
else
{
    <h1>No users</h1>
}

