@model UserSignup.ViewModels.DisplayUserViewModel

<table>
    <tr>
        <th>Name</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Date Added</th>
        <td>@Model.UserAdded</td>
    </tr>
</table>